@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4">Welcome</h1>
    <p>Exercises:</p>
	<ul class="list-group">
		<li class="list-group-item">
			<a href="/home/test1">
				1. Write a function that computes <br /><img src="~/pics/test1.png" />
			</a>
		</li>
		<li class="list-group-item">
			<a href="/home/test2">
				2. Write a function that Print numbers from 1 to 200 and every time a number is divisible by 3,
				print the word "fizz" instead of the number; every time the number is divisible by 5 print the
				number "buzz" and every time the number is divisible by both (3 & 5) print the word "fizzbuzz".
			</a>
		</li>
		<li class="list-group-item">
			<a href="/home/test3">
				3. Write a function that takes a string containing a number in base X along with and integer of base
				X. The function must return the integer value of that string/base pair.
				<br />E.g., int Convert.ToInt32(string number, int base);
				<br /> Do NOT use .NET Framework’s Convert.ToInt32 or similar.
			</a>
		</li>
		<li class="list-group-item">
			<a href="/home/test4">
				4. Write a function that, given two strings, test whether one is an anagram of the other.
			</a>
		</li>
		<li class="list-group-item">
			<a href="/home/test5">
				5. Write a function to perform basic string compression using the counts of repeated characters;
				e.g. "aabcccccaaa" would become "a2b1c5a3". If the compressed string would not become
				smaller than the original string, just print the original string.
			</a>
		</li>

		<li class="list-group-item">
			<a href="/home/test6">
				6. Write a function that reverses a string in a memory-efficient manner and without using the <b>Enumerable.Reverse(IEnumerable&#60;TSource&#62;)</b> extension method.
			</a>
		</li>
		<li class="list-group-item">
			<a href="/home/test7">
				7. Write a function that swaps two integers without using a temporary variable.
			</a>
		</li>
		<li class="list-group-item">
			<a href="/home/test8">
				8. Write a function such that if an element in an MxN matrix is 0, its entire row and column are set
				to 0 and then printed out. E.g.,
				<br /><img src="~/pics/test8.png" />
			</a>
		</li>

	</ul>	
</div>
