@model double
@{
	ViewData["Title"] = "Test1";
}

<h1>Test1</h1>

<div class="row">
	<div class="col-md-6">
		1. Write a function that computes <br /><img src="~/pics/test1.png" />
	</div>
	<div class="clearfix"></div>
	<div class="col-md-12">
		Result: @Model
	</div>

	<div>
		<a href="/home">Go back</a>
	</div>
</div>