@{
	ViewData["Title"] = "Test8";
}

<h1>Test8</h1>

<div class="row">
	<div class="col-md-7">
		Write a function such that if an element in an MxN matrix is 0, its entire row and column are set
		to 0 and then printed out. E.g.,
		<br /><img src="~/pics/test8.png" />
	</div>
	<div class="clearfix"></div>
	<div class="col-md-6">
		Before:<p>
			<pre>@ViewData["Before"]</pre>
	</div>

	<div class="col-md-6">
		After:<p>
			<pre>@ViewData["After"]</pre>
	</div>

	<div>
		<a href="/home">Go back</a>
	</div>
</div>